@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Bouncy;
        src: url('/assets/Bouncy.woff') format("woff");
    }
}

* {
    font-family: 'Varela Round', sans-serif;
}

.navLink {
    @apply flex gap-4 w-full justify-center md:justify-start lg:pl-8 md:px-6 lg:px-0 py-2 items-center hover:bg-primary-400/20 cursor-pointer;
}

.navLink p {
    @apply block md:hidden lg:block;
}