@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Bouncy;
        src: url('/assets/Bouncy.woff') format("woff");
    }
}

* {
    font-family: 'Varela Round', sans-serif;
}

.navLink {
    @apply flex gap-4 w-full justify-center md:justify-start lg:pl-8 md:px-6 lg:px-0 py-2 items-center hover:bg-primary-400/20 cursor-pointer;
}

.navLink p {
    @apply block md:hidden lg:block;
}

.settingsLink {
    @apply flex gap-4 w-full justify-start py-2 items-center hover:bg-primary-400/20 cursor-pointer px-6;
}

.login-form {
    @apply w-full bg-primary-300 border-b-2 border-primary-200 placeholder-primary-100;
}

.form-control {
    @apply w-full bg-primary-200 border-b-2 border-primary-300 placeholder-primary-100 text-stone-50;
}