@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Bouncy;
        src: url('/assets/Bouncy.woff') format("woff");
    }
}

* {
    font-family: 'Varela Round', sans-serif;
}